body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #881042;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.section {
  padding: 20px;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

.profile-pic {
  max-width: 150px;
  border-radius: 50%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
